
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overflow: auto;
}
.home {
  text-align: center;
}

.hero {
  background: linear-gradient(to right, #0a0049, #000);
  color: white;
  padding: 100px 20px;
}

.hero-title {
  font-weight: 20px; 
}

.hero-description {
  font-size: 1rem; 
  color: white;
  font-weight: 10px;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  background-color: #39bda7;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #34a294;
}

.services {
  background-color: #f8f8f8;
  padding: 40px 20px;
  margin: 40px auto; 
  border-radius: 15px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  max-width: 1350px; 
}

.section-title {
  font-size: 2rem; /* Adjusted for mobile */
}

.services-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Stacked layout for mobile */
  gap: 50px; /* Reduced gap for mobile */
}

.service-item {
  background: rgb(212, 212, 212);
  padding: 15px; /* Adjusted for mobile */
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}
.service-item h3 {
  font-size: 1.2rem; /* Adjusted for mobile */
}

.service-item p {
  font-size: 0.9rem; /* Adjusted for mobile */
}

/* Testimonials Section */
.testimonials {
  background-color: #ffffff;
  padding: 40px 20px;
  margin: 40px auto; /* Reduced margin for mobile */
  border-radius: 15px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  max-width: 1350px /* Use full width on mobile */
}

.testimonials-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Stacked layout for mobile */
  gap: 50px; /* Reduced gap for mobile */
}

.flip-card {
  background-color: transparent;
  width: 100%; /* Full width on mobile */
  height: 200px; /* Adjusted height for mobile */
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Ensure 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the container without distortion */
}

/* Media Queries for Mobile Devices */
@media (min-width: 768px) {
  .hero {
    padding: 200px 20px; /* Original padding for larger screens */
  }

  .hero-title {
    font-size: 3rem; /* Original font size */
  }

  .hero-description {
    font-size: 1.2rem; /* Original font size */
  }

  .services-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .testimonials-list {
    
    grid-template-columns: repeat(3, 1fr); /* 3 columns on larger screens */
    gap: 50px
  }

  .flip-card {
    width: 300px; /* Original width for larger screens */
    height: 300px; /* Original height */
  }
}
